In [1]:
import numpy as np
import tensorflow as tf
import tflearn
import pandas as pd
# Download the Titanic dataset
from tflearn.datasets import titanic
titanic.download_dataset('titanic_dataset.csv')

# Load CSV file, indicate that the first column represents labels
from tflearn.data_utils import load_csv
dataframe = pd.read_csv('titanic_dataset.csv')
dataframe.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500
2,0,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500
3,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500
4,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500

In [2]:
# okay lets drop the rest of the stuff from the table and keep those.
dataframe = dataframe.drop(["name", "ticket"], axis=1)
dataframe.head()

   survived  pclass     sex      age  sibsp  parch      fare
0         1       1  female  29.0000      0      0  211.3375
1         1       1    male   0.9167      1      2  151.5500
2         0       1  female   2.0000      1      2  151.5500
3         0       1    male  30.0000      1      2  151.5500
4         0       1  female  25.0000      1      2  151.5500

In [3]:
#lets change sex female/male to 1 and 0
dataframe['sex'].replace(['female','male'],[1,0],inplace=True)
dataframe.head()

   survived  pclass  sex      age  sibsp  parch      fare
0         1       1    1  29.0000      0      0  211.3375
1         1       1    0   0.9167      1      2  151.5500
2         0       1    1   2.0000      1      2  151.5500
3         0       1    0  30.0000      1      2  151.5500
4         0       1    1  25.0000      1      2  151.5500

In [5]:
# lets convert them so the tlearn can use doesnt crash
inputX = dataframe.loc[:, ['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']].as_matrix()
dataframe.loc[:, ("survived2")] = dataframe["survived"] == 0           
dataframe.loc[:, ("survived2")] = dataframe["survived2"].astype(int)
inputY = dataframe.loc[:, ["survived", "survived2"]].as_matrix()
print('input X ', inputX.size)
print('input Y ', inputY.size)

input X  7854
input Y  2618

In [5]:
def NN():
    net = tflearn.input_data(shape=[None, 6])
    net = tflearn.fully_connected(net, 32)
    net = tflearn.fully_connected(net, 32)
    net = tflearn.fully_connected(net, 2, activation='softmax')
    net = tflearn.regression(net , optimizer='sgd')
    model = tflearn.DNN(net)
    return model

In [6]:
# Define model
model = NN()
# Start training (apply gradient descent algorithm)
# Training
model.fit(inputX, inputY, validation_set=0.1, show_metric=True, batch_size=100, n_epoch=8)

Training Step: 95  | total loss: 0.68891 | time: 0.053s
| SGD | epoch: 008 | loss: 0.68891 - acc: 0.6326 -- iter: 1100/1178
Training Step: 96  | total loss: 0.68884 | time: 1.064s
| SGD | epoch: 008 | loss: 0.68884 - acc: 0.6354 | val_loss: 0.69014 - val_acc: 0.5878 -- iter: 1178/1178
--